
{%extends "layout.html" %}
{%block content%}
<h1 class="heading"><strong>PIXELS</strong></h1>
<h2 class="heading"><strong>Tools</strong></h2>

<div class="contenedor-iconos">
    <div class="fila">
        <div class="icono" id="icono1">SKILLS</div>
        <div class="icono" id="icono2">MARKET</div>
        <div class="icono" id="icono3">ENERGY</div>
        <div class="icono" id="icono4">TOOLS</div>
    </div>
    <div class="fila">
        <div class="icono" id="icono5">
            <a href="/Land">
            LANDS </a>
        </div>
        <div class="icono" id="icono6">VIDEOS</div>
        <div class="icono" id="icono7">GUIES</div>
        <div class="icono" id="icono8">UGCS</div>
    </div>
</div>





{%endblock%}